window {
margin: 0px;
border: 1px solid #3971ed;
border-radius: 5px;
}

#input {
margin: 4px;
border: none;
}

#inner-box {
margin: 4px;
border: none;
}

#outer-box {
margin: 4px;
border: none;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 4px;
border: none;
} 

#entry:selected {
}
